


<div class="project-window">
    <div class="project-column-1">

        <img src ="/Content/Projects/doggame/screen4.png" width="95%"  class="with-border" />

        <img src ="/Content/Projects/doggame/screen1.png" width="95%"  class="with-border"  />

    </div>
    <div class="project-column-2">

        <img src ="/Content/Projects/doggame/screen2.png" width="95%"  class="with-border" />

        <img src ="/Content/Projects/doggame/screen3.png" width="95%" class="with-border"  />

    </div>

</div>

    <div class="box">
        <div class="box-wrapper">
    <span class="box_discript">Windows Phone:</span>
    <br />

    <div class="project-line">

	    <div class ="project-line-1">
    
            <a href="http://www.windowsphone.com/en-US/apps/dd523323-3fea-448f-b01e-42ce850acb8c" target="_top">LINK</a>
    
        </div>
        <div class="project-line-2">
    
            <a href="https://github.com/Jesse-Michael/Phone-Buddy-WindowsPhone" target="_top">CODE</a>
    
        </div>


    </div>

    <br />
    <br />
    <span class="box_discript">Android:</span>
    <br />
    <div class="project-line">

	    <div class ="project-line-1">
             <a href="https://play.google.com/store/apps/details?id=org.phonebuddy" target="_top">LINK</a>
    
        </div>
        <div class="project-line-2">
    
            <a href="https://github.com/Jesse-Michael/Phone-Buddy-Android" target="_top">CODE</a>
    
    
        </div>


    </div>
    <br />
    </div>
</div>
    