



<div class="project-window">
    <div class="project-column-1">

        <img src ="/Content/Projects/lwt/screen1.png" width="95%" class="with-border" />

        <img src ="/Content/Projects/lwt/screen3.png" width="95%"  class="with-border"  />

    </div>
    <div class="project-column-2">

        <img src ="/Content/Projects/lwt/screen2.png" width="95%"  class="with-border" />



        <a href="/home/projects/lwtPlay" target="_top"><img src="/Content/Projects/play.png" width="95%" class="with-border"></a>

        <a href="https://github.com/Jesse-Michael/LifeWithoutTaxes" target="_top"><img src="/Content/Projects/code.png"  width="95%" class="with-border" ></a>

        <a href="/home/projects" target="_top"><img src="/Content/Projects/back.png"  width="95%" class="with-border" ></a>

    </div>

</div>
