<div id="art_flash">

<object  align="middle" width="100%" height="100%">

  		<param name="movie" value="/Content/Art/artSelect.swf" />

		<param name="bgcolor" value="#F3F3F3" />
        <param name="align" value="center" />

		<embed src="/Content/Art/artSelect.swf" width="100%" height="100%" type="application/x-shockwave-flash"></embed>

		</object>


</div>