


<div class="box">
    <p class="discript">Around the Web</p>
    <br />
    <div class="bio-column-1">
        <a href="http://www.facebook.com/profile.php?id=711267518" target="_top">
            <img src="/images/icons/facebook.png" align="absmiddle" height="25" width="25" hspace="15" />Facebook

        </a> 
        <br /><br /> 
        <a href="https://github.com/Jesse-Michael" target="_top">
            <img src="/images/icons/github.png" align="absmiddle" height="25" width="25" hspace="15" />Git Hub

        </a> 
        <br /><br /> 
        <a href="http://www.youtube.com/user/MiniMichael63" target="_top">
            <img src="/images/icons/youtube.png" align="absmiddle" height="25" width="25" hspace="15" />YouTube

        </a> 
        <br /><br /> 
        <a href="http://mini-michael.deviantart.com/" target="_top">
            <img src="/images/icons/deviantart2.png" align="absmiddle" height="25" width="25" hspace="15" />Deviant Art

        </a> 
        <br style="clear: both;" />
    </div>
    <div class="bio-column-2">
        <a href="http://twitter.com/#!/Jesse0Michael" target="_top">
            <img src="/images/icons/twitter.png" align="absmiddle" height="25" width="25" hspace="15" />Twitter

        </a> 
        <br /><br /> 
        <a href="http://jesse-michael.blogspot.com/" target="_top">
            <img src="/images/icons/blogger.png" align="absmiddle" height="25" width="25" hspace="15" />Blog

        </a> 
        <br /><br /> 
        <a href="http://www.linkedin.com/pub/jesse-michael/4a/801/a14" target="_top">
            <img src="/images/icons/linkedin.png" align="absmiddle" height="25" width="25" hspace="15" />Linked In

        </a>

    </div>
    <br /><br />

</div>


<div class="box">
    <p class="discript">Resume</p>
    <div id="contents" style="text-align:center;">
        <iframe src="https://docs.google.com/document/d/1wkyLrtQeuoOCQ5AmR25te1_PJQm02bjJpBkdKS5o4pE/pub?embedded=true" style="width:860px; height:2150px;"></iframe>

    </div>

</div>


