<!DOCTYPE html>
<html>
	<head>
		<title>Jesse Michael</title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
    {% include analytics.html %}
	</head>
	<body ng-app="app">
		<canvas id="boxes" width="500" height="135"></canvas>

		{{ content }}

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/boxes.js"></script>
		<script type="text/javascript" src="/js/home.js"></script>
		<script type="text/javascript" src="/js/color.js"></script>
	</body>
</html>
